[submodule "tsx-react-ver"]
	path = tsx-react-ver
	url = https://github.com/Moude-AI/smonthl-react.git
[submodule "html-ver"]
	path = html-ver
	url = https://github.com/Moude-AI/smonthl-html.git
[submodule "build-tools"]
	path = build-tools
	url = https://github.com/Moude-AI/smonthl-build-tools.git
